# ─── SERVIDOR ───────────────────────────────
PORT=3000
NODE_ENV=development

# ─── BASE DE DATOS PostgreSQL ────────────────
DB_HOST=localhost
DB_PORT=5432
DB_NAME=UniEmpleo
DB_USER=postgres
DB_PASSWORD=Sol123rojo@

# ─── JWT ─────────────────────────────────────
JWT_SECRET=Ale1293898754hfjdsxisfsdf
JWT_EXPIRES_IN=30m

# ─── CORREO (SMTP) ───────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587 
SMTP_USER=UniEmpleoApp@gmail.com
SMTP_PASS=wylp mnnj gnxi ltoq
EMAIL_FROM=UniEmpleo <UniEmpleoApp@gmail.com>

# ─── FRONTEND URL (para CORS) ────────────────
FRONTEND_URL=http://localhost:5173
